
__pycache__/
*.py[cod]
*.pyo

Backend/career_link_project/applications/API_DOCUMENTATION.docx
.venv/
venv/
env/
.features-application

*.log
db.sqlite3
db.sqlite3-journal


.env
.env.*
!.env.example


.vscode/
.idea/

.DS_Store
Thumbs.db

Django-Intern-Project/s
